@font-face {
  font-family: 'Unbounded Sans';
  src: url('https://agzhrzaeerclitlfnhhz.supabase.co/storage/v1/object/public/assets/fonts/LogoSCUnboundedSans-Regular-2.ttf')
    format('truetype');
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
}
