// 标小智无界黑
@font-face {
  font-family: 'enTitle';
  src: url('../fonts/enTitle.ttf');
  font-weight: 200;
  font-style: normal;
}

// 汉仪旗黑
@font-face {
  font-family: 'cnTitle';
  src: url('../fonts/cnTitle.ttf');
  font-weight: 200;
  font-style: normal;
}

// 
@font-face {
  font-family: 'cnArtTitle';
  src: url('../fonts/cnArtTitle.ttf');
  font-weight: 200;
  font-style: normal;
}
