@import url(./font.less);
@import url(./light.less);

#app {
  width: 100%;
  height: 100%;
  // position: fixed;
  overflow: scroll;
  cursor: default;
  transition: background-color 1s;
}
#app:not(.light){
  background-color: #0c0c0c;
  color: #fff;
}
.light{
  background-color: #fff !important;
  color: #000;
}

body {
  background-color: transparent;
}

* {
  text-decoration: none;
  user-select: none;
}

.el-button.is-link.is-disabled {
  color: #fff !important;
  cursor: default !important;
}

.el-button.is-link.el-button--danger:not(.is-disabled) {
  color: #ff004e !important;
  text-decoration: underline;

  &:hover {
    border-radius: 0;
    text-shadow: 0 0 3px #ff004e;
    color: #fff !important;
    text-decoration: none;
  }
}

.el-message-box {
  border-radius: 0;
  border: 1px solid #002c5a;
}

.el-button--primary {
  border-radius: 0;
  background-color: #002c5a !important;
  font-family: 'cusTitle';
  border: 0;

  &:hover {
    background-color: #ff004e !important;
  }
}

.main-container {
  width: 100%;
  min-height: calc(100vh - 160px);
  position: relative;
  margin: 0 auto;
  padding: 20px;
  // border: 10px solid red;
  box-sizing: border-box;
}

.trans {
  opacity: 0;
}

.clickable {
  transition: text-shadow 0.2s;
  cursor: url('@/assets/img/dot-click.svg') 15 15, auto;

  &:hover {
    text-shadow: 0 0 10px;
  }
}

.light {
  background-color: #ffffff !important;

  .clickable {
    transition: text-shadow 0.2s, color 0.2s;
    cursor: url("@/assets/img/dot-click.svg") 15 15, auto;

    &:hover {
      * {
        color: #181818 !important;
      }

      text-shadow: 0 0 8px rgba(0, 0, 0, 0.29);
    }
  }

}