@import url(./font.less);
@import url(./variables.less);
@import url("https://fontsapi.zeoseven.com/18/main/result.css");

body {
  width: calc(100% - 120px);
  height: 100%;
  overflow: auto;
  position: relative;
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 0 40px;
  padding-left: 60px;

  // 滚动条样式
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: var(--bg-color);
  }

  &::-webkit-scrollbar-thumb {
    background: @primary-color;
    border-radius: 0;
    margin: 2px;
    cursor: move;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: @primary-color;
  }

  #app {
    width: 100%;
    cursor: default;
    transition: background-color 1s;
  }

  .main-container {
    width: 100%;
    min-height: calc(100vh - 140px);
    height: 100%;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    user-select: text;
    overflow-x: hidden;
    padding: 0 8vw;
    padding-bottom: 60px;
  }
  .el-menu {
    background-color: transparent !important;
  }
}

// 全局字体样式
* {
  text-decoration: none;
  user-select: none;
  font-family: 'source-han-sans-simplified-c', sans-serif;
}

.cn-font {
  font-family: 'source-han-sans-simplified-c', sans-serif !important;
  font-weight: 900 !important;
  * {
    font-family: 'source-han-sans-simplified-c', sans-serif !important;
    font-weight: 900 !important;
  }
}


@media screen and (max-aspect-ratio: @ratio-threshold) {
  .main-container {
    padding: 0 4vw !important;
    padding-bottom: 60px !important;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.001ms !important;
  }
}
