
@primary-color: #e23456;

@danger-color: #e23456;
@success-color: #52c41a;
@warning-color: #faad14;
@info-color: #177ddc;

:root {

  --text-color: #fffff4;
  --bg-color: #000;
  --opacity-color: #ffffff7a;
  --opacity-color2: rgba(255, 255, 255, 0.1);
  --star-color: #f7f7b686;
}

[data-theme='light'],
.light {

  --text-color: #1f1f1f;
  --bg-color: #ffffff;
  --opacity-color: #00000075;
  --opacity-color2: rgba(0, 0, 0, 0.1);
  --star-color: #4400b986;
}

@ratio-threshold: 1;
