// 变量提取
@rotate-duration: 80s;
@star-color-dark: #f7f7b686;
@star-color-light: #4400b986;

.star-container {
  position: fixed;
  inset: 0;
  z-index: 0;
  overflow: hidden;
  transition: background 1s ease;
  box-sizing: border-box;
  background-color: var(--bg-color);

  &.dark {
    background: radial-gradient(220% 105% at top center, #000 10%, #310917 65%, #000);
    .star { background: @star-color-dark; }
  }

  &.light {
    background: radial-gradient(220% 105% at top center, #bbaec7 10%, #fafff9 30%, #fff);
    .star { background: @star-color-light; }
  }

  &.menu-hidden {
    opacity: 0.01;
  }
}

.star-field {
  position: absolute;
  bottom: 0;
  left: 56%;
  top:25%;
  width: 0;
  height: 0;
  zoom: 2;
  perspective: 1200px;
  perspective-origin: -200% -200%;
  transform-style: preserve-3d;
  animation: rotate-sky @rotate-duration infinite linear;
  z-index: 1;
}

.star {
  width: 3px;
  height: 3px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  pointer-events: none; // 性能优化：避免星星干扰鼠标事件
}

@keyframes rotate-sky {
  from { transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(0); }
  to   { transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(-360deg); }
}