.footer-com {
  height: 28px;
  background-color: rgba(0, 0, 0, 0.598);
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.509);
  position: fixed;
  bottom: 4px;
  left: 7px;
  right: 7px;
  // bottom: 0px;
  // left: 0px;
  // right: 0px;
  z-index: 200;
  display: flex;
  justify-content: center;
  // overflow: hidden;
  transition: all 0.2s;

  >div {
    // border: 1px solid red;
    box-sizing: border-box;
    height: 28px;
  }

  .left {
    min-width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;

    .language {
      transition: all 0.2s;
      transform: scale(1, 0.74);

      span {
        font-family: 'cusContext';
        font-size: 19px;
        line-height: 20px;
      }

      button {
        margin-left: 0px !important;
      }
    }
  }

  .center {
    width: 100%;
    height: 100%;
    font-size: 13px;
    letter-spacing: 0.8px;
    display: inline-block;
    overflow: hidden;

    .expand {
      background-color: rgba(0, 0, 0, 0.36);
      width: 100%;
      height: 100%;
      background-image: radial-gradient(#fcfcfc17 1px, #a9a9a917 1px);
      background-size: 4px 4px;
      backdrop-filter: saturate(50%) blur(1px);
      transition: all 1s;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .marquee-wrap {
        padding-top: 3px;
        transition: all 0.2s;
        white-space: nowrap;
        -webkit-animation: marquee 30s linear infinite;
        animation: marquee 30s linear infinite;
        animation-play-state: running;
        font-family: 'siyuan';

        &:hover {
          animation-play-state: paused;
        }

        >span {
          color: #000000;
        }

        >b {
          font-weight: 400 !important;

          a {
            padding: 10px;
            // text-decoration: underline #ffffff6b;
            font-weight: 400;
            cursor: pointer;
            transition: all 0.2s;
            text-shadow: 0 0 0.5px rgba(0, 0, 0, 0.527);
            color: #fff;

            &:hover {
              background-color: rgba(0, 0, 0, 0.5);
              color: #fff;
            }
          }
        }
      }
    }

    @keyframes marquee {
      0% {
        opacity: 0;
        transform: translateX(0);
      }

      5% {
        opacity: 1;
      }

      95% {
        opacity: 1;
      }

      100% {
        transform: translateX(-2000px);
        opacity: 0;
      }
    }
  }

  .right {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    .text-links {
      min-width: 505px;
      margin-left: 10px;
      transition: all 1s;
      display: inline-block;

      .el-button--danger {
        margin-top: 1px;
      }

      >span,
      >.el-button {
        position: relative;

        span {
          transform: scale(1, 0.74);
          font-family: 'cusContext';
          font-size: 19px;
        }
      }

      .is-disabled {
        margin-left: 10px;
      }
    }

    .el-switch {
      margin: 0 15px;
      margin-left: 5px;
      height: 20px;
      margin-top: 1px;

      .el-switch__core {
        height: 17px;
        min-width: 36px;
        box-shadow: 0px 0px 6px 0px #000000a3;

        .el-switch__action {
          zoom: 1.15;
          box-shadow: 0px 0px 6px 0px #0000005c;
        }
      }
    }

    .el-switch.is-checked {
      .el-switch__core {
        border: 2px solid #6e40c9;

        .el-switch__action {
          left: calc(100% - 14px);
          background-color: #6e40c9;
        }
      }
    }

    .el-switch:not(.is-checked) {
      .el-switch__core {
        border: 2px solid #f4ea2a;

        .el-switch__action {
          // right: calc(100% - 14px);
          background-color: #f4ea2a;
          left: -2px;
        }
      }
    }
  }

  .TWITTER_detail,
  .WEIBO_detail,
  .BILIBILI_detail,
  .EMAIL_detail,
  .GITHUB_detail {
    position: absolute;
    display: block;
    bottom: -140px;
    z-index: -1;
    opacity: 0;
    cursor: pointer;
    // bottom: 40px;
    transform: translateX(-50%) !important;
    left: 50%;
    width: 250px;
    height: 100px;
    transition: bottom 0.4s;
    box-shadow: 0 1px 15px #0000003b;

    img {
      width: 250px;
      height: 100px;
    }
  }

  .BILIBILI_detail {
    width: 280px !important;
    height: 280px !important;
    bottom: -300px;

    img {
      width: 280px !important;
      height: 280px !important;
    }
  }

  .GITHUB_detail {
    width: 148px !important;
    height: 32px !important;
    border-radius: 16px;

    img {
      width: 148px !important;
      height: 32px !important;
      border-radius: 16px;
    }
  }

  .TWITTER_detail {
    width: 246px !important;
    height: 62px !important;
    border-radius: 31px;

    img {
      width: 246px !important;
      height: 62px !important;
      border-radius: 31px;
    }
  }

  .WEIBO_detail {
    width: 346px !important;
    height: 500px !important;
    background-color: red;
    bottom: -540px;
    overflow: hidden;

    img {
      width: 346px !important;
      height: 500px !important;
    }
  }
}

.full-footer {
  width: 100vw;
  left: 0;
}

@media screen and (max-width: 1050px) {
  .footer-com {
    display: none;
  }
}