.not-found-page {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .inner {
    width: 1000px;
    height: 350px;
    position: relative;
    margin-top: -140px;
    margin-left: 60px;

    .porygon {
      width: 394px;
      height: 369px;
      position: absolute;
      top: 0;
      right: 0;
      background-size: cover;
      background-image: url('@/assets/img/porygon.png');
      transition: all 1s ease, opacity 2s ease;
      transform-origin: center;
    }

    .show-text {
      position: absolute;
      bottom: 0;
      left: 0;
      font-family: 'enTitle';
      transition: text-shadow 0.2s ease, color 0.5s ease;
      
      p {
        font-size: 29px;
        line-height: 35px;
        text-shadow: 0 0 8px var(--opacity-color);
        
        &:first-child {
          font-size: 60px;
          line-height: 60px;
          
          span {
            font-size: 110px;
          }
          
          animation: shineFont 5s linear infinite;
        }
        
        &:last-child {
          white-space: nowrap;
          background-color: var(--opacity-color);
          color: var(--bg-color);
          overflow: hidden;
          height: 30px;
          line-height: 30px;
          display: flex;
          align-items: center;
          transition: all 0.3s ease, width 0.5s ease;
          text-shadow: none;
          cursor: pointer;
          
          &:hover {
            background-color: #9b9b9b42;
            color: var(--text-color);
            text-shadow: 0 0 8px var(--opacity-color);
          }
        }
      }
    }
  }

@media screen and (max-aspect-ratio: 2/3) {
    .porygon {
      right: 40px !important;
      width: 360px !important;
      height: 330px !important;
    }
    
    .show-text {
      width: 500px;
      
      p {
        font-size: 25px !important;
        line-height: 25px !important;
        
        &:first-child {
          font-size: 50px !important;
          line-height: 60px !important;
          
          span {
            font-size: 90px !important;
            display: block;
          }
        }
        
        &:nth-child(2) {
          font-size: 15px !important;
          line-height: 14px !important;
          margin-top: -10px;
        }
      }
    }
  }
}

// 动画定义
@keyframes shineFont {
  0%, 100% {
    text-shadow: 0 0 30px #ffffffba;
  }
  25% {
    text-shadow: 0 0 10px #ffffffba;
  }
  50% {
    text-shadow: 0 0 0 transparent;
  }
}